@import '../../vars.css';

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 6rem;
    gap: 1rem;
}

.projectInfo{
    margin-left: 1rem;
}

.name{
    border-bottom: 2px dashed black;
    font-size: 4rem;
    font-weight: 750;
    margin-bottom: 3rem;
}


.projectBox{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.projectImage01, 
.projectImage02, 
.projectImage03{
    width: 48.5vw;
    height: 50vh;
    border: none;
    overflow: hidden;
} 

.projectImage01{
    border-top-right-radius: 250px;
}
.projectImage03{
    border-bottom-right-radius: 250px;
}

.projectTitle{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: 1.5px underline;
}

.projectDescription{
    width: 70%;
    line-height: 2;
    margin: 1rem 0;
    text-align: justify;
}

.buttonLink, 
.buttonCode{
    width: 5rem;
    height: 2rem;
    border: none;
    border-radius: 5px;
    margin-right: 2.5rem;
    font-size:medium;
    font-weight: 600;
}
.buttonLink{
    background-color: var(--color-one);
}

.buttonCode{
    background-color: var(--color-three);
}


@media screen and (max-width:830px) {

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 3rem;
        gap: 1rem;
    }
    .projectBox{
        flex-direction: column;
    }

    .projectImage01, 
    .projectImage02, 
    .projectImage03{
        width:100vw;
        height: 12rem;
    } 

    .name{
        text-align: center;
        border: none;
        margin-bottom: 2rem;
    }
    
    .projectDescription{
        display: none;
    }

    .projectInfo{
        text-align: center;
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin-top: 2rem;
    }

    .buttonLink, 
.buttonCode{
   margin-right: 0;
}


}