@import '../../vars.css';


.banner{
    width: 100%;
    background-color: var(--color-three);
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h4{
    font-size: 2rem;
    font-weight: 600;
}

.text{
    color:white;
}

.text a{
    text-decoration: none;
    color: white;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
    gap: 1rem;
}


.name{
    border-bottom: 2px dashed black;
    font-size: 4rem;
    font-weight: 750;
    margin-bottom: 3rem;
    margin-top: 5rem;
}
.aboutItem{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10rem;
}

.aboutImage{
    height: 25rem;
}

.aboutInfo{
    display: flex;
    flex-direction: column;
    width: 40rem;
    margin-left: 10rem;
}




.aboutTitle{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
}

.aboutDescription{
    width: 70%;
    line-height: 2;
    margin: 1rem 0;
    text-align: justify;
    border-top: 2px solid black;
}


@media screen and (max-width:830px) {
    
    .container{
        margin-top: 0rem;
    }
    
    .banner h4{
        font-size: 1.3rem;
        text-align: center;
    }
    
    .name{
        margin-top: 1rem;
    }

    .aboutItem{
        flex-direction: column;
        margin-left: 0;
    }
    
    .aboutImage{
        height: 15rem;
    }

    .aboutInfo{
        width: 25rem;
        margin-left: 6.5rem;
    }
}